extends ./layout.jade
include mixins

block header
        .container-fluid#title
            img#title-image(src='/images/build/title.png')
        .container
        
        +nav("Swordpunk", "title_menu")
            +nav_item( "/" ) Home
            +nav_item( "venue" ) Venue
            +nav_item( "galleries" ) Galleries
            +nav_item( "tickets" ) Tickets
            +nav_item( "dan" ) Dan
            +nav_item( "faq") FAQs
            +nav_item( "contact" ) Contact
            +nav_item( "reviews" ) Reviews
            
block content
    .container-fluid.background
        .row.paper
            .col-12.text-panel
            .row#spacing
        .row.paper-bottom
            .col-12.text-panel