extends ./layout.jade
include mixins
 
block header
        .container-fluid#title
            img#title-image(src='/images/title.png')
        +nav("Swordpunk", "title-menu")
            +nav_item( "/" ) Home
            +nav_item( "venue" ) Venue
            +nav_item( "galleries" ) Galleries
            +nav_item( "tickets" ) Tickets
            +nav_item( "dan" ) Dan
            +nav_item( "faq") FAQs
            +nav_item( "contact" ) Contact
            +nav_item( "reviews" ) Reviews
            
block content        
        .container-fluid.background
          .row.paper
            .row
              .col-12.text-panel
                h2 Cool things with sharp and dangerous objects
                p| Do you like fighting with swords, cracking whips, throwing rope darts 
                 | or playing with spears, axes or knives? That's the kind of thing we like
                 |  too! Come to Swordpunk and you'll get to play with all of the above, 
                 |  followed by a great party with wonderful people.
                p| At Swordpunk you'll pick up new skills, work on the ones you already 
                 |have before putting them to the test in the infamous Swordpunk Assault 
                 |Course. What's more, you'll be able to do all this in glorious nature.
                h3 What is Swordpunk?
                p.
                  Swordpunk is an alternative weekend of combat skills. This isn't about 
                  hierarchy, getting belts or being graded. It's about teaching you skills 
                  such as sword fighting, knife throwing, rope dart & whip cracking, 
                  archery and spear fighting. It's about sitting down to eat together, 
                  swimming in lakes and sitting around a fire with people you'll want to make 
                  friends with and stay friends with for a long time after the event.
                  <br /> <br />
                  Swordpunk is not about being excluded because you don't have this or 
                  that skill. Swordpunk is about finding ways to teach you skills you want 
                  to learn - whether you've never picked up a weapon in your life, you're 
                  a performer who wants to learn to crack a whip, a re-enactor who's never 
                  fought with fire swords or a martial artist who needs to polish up on 
                  your Winden am Schwert.
                  <br /><br />
                  Swordpunk is our attempt to teach and share real skills - with the added 
                  bonus of making us feel like adventurers.
                  <br /><br />
                  We have a very wide range of workshops running over the weekend, but there 
                  is always the freedom to wander off and spend time practising skills at 
                  your own pace - or just to wander off and explore the grounds of the 
                  estate! Go for a swim in the lake or a stroll through the sculpture park.
            .row.wrap               
                .col-md-3.col-sm-6.col-xs-12
                  .wrapper
                    .text-box#novice-review
                      p.
                        "There were plenty of skills on offer over the weekend. Swords, 
                        it turned out, were not for me but throwing knives I loved! 
                        There’s something very satisfying about hurling blades around.
                        We had plenty of time to try out everything, and to focus on the 
                        things we particularly enjoyed. All the instructors were enthusiastic, 
                        skilled and (luckily for me) extremely patient!
                        <br /><br />
                        The training culminated in an assault course involving the skills 
                        we had learned and we spent the time between sessions exploring the beautiful grounds, 
                        chatting around the bonfire and making new friends."
                        <br /><br />
                        <a href='/reviews#novice'>See full review</a>                        
                    .clip-border
                      img.profile#first.img-responsive.center-block(src='/images/novice.jpg')
                    h3 NOVICE
                .col-md-3.col-sm-6.col-xs-12
                  .wrapper
                    .text-box#warrior-review
                      p.
                        "Swordpunk is unique amongst martial arts events I have attended 
                        in being equally useful to the absolute novice as to the most 
                        grizzled of veterans. Each exercise could be taken at face value, 
                        demonstrating a simple mechanic, or developed into much more complex 
                        plays.
                        <br /><br />
                        Dan has an exhaustive vocabulary of techniques, so after 
                        the briefest of discussions each student is sent off on a task 
                        appropriate to their particular skill level. The course allows 
                        students to focus on weapons and disciplines which are of particular 
                        interest to them, but combines all in a climactic assault course, 
                        beset with challenges both martial and physical worthy of the 
                        Crystal Maze."
                        <br /><br />
                        <a href='/reviews#warrior'>See full review</a>
                    .clip-border
                      img.profile#second.img-responsive.center-block(src='/images/warrior.jpg')
                    h3 WARRIOR
                .col-md-3.col-sm-6.col-xs-12
                  .wrapper
                    .text-box#circus-review
                      p.
                        "Swordpunk was a wonderfully weird weekend in a beautiful location. 
                        I got to learn knife throwing with a master, practice my whip 
                        cracking and rope dart and get into the basics of sword combat. 
                        <br /><br />
                        The atmosphere was friendly and welcoming and I met some great people. 
                        I would recommend this to anyone looking for something different. 
                        Go if you have always secretly wanted to release your inner warrior!"
                        <br /><br/>
                        <a href='/reviews#circus'>See full review</a>
                    .clip-border
                      img.profile#third.img-responsive.center-block(src='/images/circus.jpg')
                    h3 CIRCUS ARTIST                   
                .col-md-3.col-sm-6.col-xs-12
                  .wrapper
                    .text-box#adventurer-review
                      p.
                        "After  the assault course follows the fire circle. It is made up 
                        of a palisade of rough hewn stakes, the summit of each crowned with 
                        a billowing brazier, festooned with skulls and the accoutrements 
                        of war. Amidst this Wagnerian setting each Swordpunk takes their 
                        turn to put into practice the techniques they have learned, 
                        pitting themselves against none other than their former master, Dan. 
                        Even the meekest of souls abandon themselves to the deeply primordial ritual. 
                        <br /><br />
                        After all participants have expended the last of their  vigour 
                        Mars departs, making way for his welcome usurper, Bacchus, and the 
                        feast is celebrated with the gusto that only comrades in arms can muster."
                        <a href='/reviews'>See full review</a>
                    .clip-border
                      img.profile#fourth.img-responsive.center-block(src='/images/adventurer.jpg')
                    h3 ADVENTURER      
            .row#spacing
          .row.paper-bottom
            .col-12.text-panel

