extends ./layout.jade
include mixins
 
block header
        .container-fluid#title
            img#title-image(src='/images/title.png')
        +nav("Swordpunk", "title-menu")
            +nav_item( "/" ) Home
            +nav_item( "venue" ) Venue
            +nav_item( "dan" ) Dan
            +nav_item( "tickets" ) Tickets
            +nav_item( "galleries" ) Galleries
            +nav_item( "contact" ) Contact
            
block content        
        .container-fluid.background
          .row.paper
            .row
              .col-12.text-panel
                h2 Cool things with sharp and dangerous objects
                p| Do you like fighting with swords, cracking whips, throwing rope darts 
                 | or playing with spears, axes or knives? That's the kind of thing we like
                 |  too! Come to Swordpunk and you'll get to play with all of the above, 
                 |  followed by a great party with wonderful people.
                p| At Swordpunk you'll pick up new skills, work on the ones you already 
                 |have before putting them to the test in the infamous Swordpunk Assault 
                 |Course. What's more, you'll be able to do all this in glorious nature.
            .row.wrap               
                .col-md-3.col-sm-6.col-xs-12
                  .wrapper
                    .clip-border
                      img.profile#first.img-responsive.center-block.clipped(src='/images/novice.jpg')
                    h3 NOVICE
                .col-md-3.col-sm-6.col-xs-12
                  .wrapper
                    .clip-border
                      img.profile#second.img-responsive.center-block.clipped(src='/images/warrior.jpg')
                    h3 WARRIOR
                .col-md-3.col-sm-6.col-xs-12
                  .wrapper
                    .clip-border
                      img.profile#third.img-responsive.center-block.clipped(src='/images/circus.jpg')
                    h3 CIRCUS ARTIST                        
                .col-md-3.col-sm-6.col-xs-12
                  .wrapper
                    .clip-border
                      img.profile#fourth.img-responsive.center-block.clipped(src='/images/adventurer.jpg')
                    h3 ADVENTURER
          .row.paper-bottom
            .col-12.text-panel

