extends ./layout.jade
include mixins

block header
        .container-fluid#title
            img#title-image(src='/images/title.png')
        .container
        
        +nav("Swordpunk", "title_menu")
            +nav_item( "/" ) Home
            +nav_item( "venue" ) Venue
            +nav_item( "dan" ) Dan
            +nav_item( "tickets" ) Tickets
            +nav_item( "galleries" ) Galleries
            +nav_item( "contact" ) Contact
             
block content
    .container-fluid.background
      .row.paper
        .row
            .col-12.text-panel
              h2 Venue and location
              p| Swordpunk will be held in the idyllic grounds of Newham Paddox, 
               |in a landscape designed by none other than Capability Brown. There are 
               |boating lakes and even a sculpture park to wander through when you're not 
               |busy sharpening your swordsmanship.
              p|Bring a tent as we'll be camping in the open grounds of the estate, near 
               |Monks Kirby in Warwickshire. You are welcome to arrive on Friday evening 
               |and leave as late as Monday morning.
              p This picture was taken during a site visit in January.
        .row
            img#border.img-responsive.center-block(src='/images/venue-snow.jpg')
        .row
          .col-12.text-panel
            p You can find Monks Kirby with the map below:
            .row
                iframe.center-block(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9728.029206571046!2d-1.3221949999999998!3d52.4427825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4877443988fc4c39%3A0xdd2a196074be7b8f!2sMonks+Kirby%2C+Rugby%2C+Warwickshire+CV23!5e0!3m2!1sen!2suk!4v1424292290759" width="600" height="400" frameborder="0" style="border:0")
      .row.paper-bottom
        .col-12.text-panel    