#title-image {
  width: 100%;
  height: auto;
  padding-right: 0px;
  }
  
.navbar {
  margin-bottom: 0px;
  padding-right: 0px;
  border-radius: 0px;
  }

.navbar-default {
  background-color: black;
  }

.navbar-brand, .navbar-nav > li >a {
  line-height: 40px;
  padding: 10px 15px;
  font-family: 'flat-earth-scribe';
  font-size: 27px;
}
.navbar-toggle {
    margin: 20px;
    padding: 20px;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: rgba(231, 228, 235, 255);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: rgba(255, 220, 127, 255);
}

.navbar-default .navbar-nav > li:nth-child(4) {
    background-color: rgba(237, 150, 42, 255);
}
.container-fluid#title {
  padding-left: 0px;
}

.row.wrap {
  padding-top: 10px;
  width: 90%;
  margin: auto;
  }

.clipped {
  -webkit-clip-path: ellipse(35% 50% at 50% 50%);
}

.container-fluid.background {
  background: url('/images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 20px;
  }
  
.container-fluid#title {
  width: 100%;
  padding-right: 0px;
}

.row.paper {
  background: url('/images/paper-background-fade.png') no-repeat;
  background-size: 100% 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.paper-bottom {
  background: url('/images/paper-bottom-fade.png') no-repeat;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
  margin-top: -75px;
}
  
.text-panel {
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  }

.schedule {
  width: 90%;
  padding-left: 0px;
  padding-right: 0px;
  margin: auto;
  }

p {
  padding: 5px 15px 15px 15px;
  font-size: 18px;
  }

.text-panel h2, p {
  padding: 5px 45px 15px 45px;
}
   
#info1 {
  position: relative;
  z-index: 9999;
  background-color: white;
  }

.wrapper {
  position: relative;
  }
  
.overlay {
  position: absolute;
  background-color: rgba(0,0,0, 0.58);
  color: #fff;
  visibility: hidden;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
 }

.overlay p {
  padding-left: 6px;
  }

img.profile {
  max-width: 100%;
  max-height: 325px;
  margin: auto;
  }

.wrapper:hover .overlay {
  visibility: visible;
  opacity: 0.9;
}

.schedule p {
  background-color: white;
  margin-bottom: 0px;
  padding-left: 15px;
  padding-bottom: 20px;
  padding-top: 10px;
  }
  
h2 {
  font-family: 'flat-earth-scribe';
  font-size: 70px;
  color: rgba(55, 54, 50, 255);
  text-align: center;
}

h3 {
  font-family: 'flat-earth-scribe';
  font-size: 30px;
  text-align: center;
}
  
h4 {
  background-color: rgba(255,165,0, 1);
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  font-size: 22px;
  height: auto;
  }
  
h5 {
  background-color:lightgoldenrodyellow;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  font-size: 20px;
  border-bottom-color: rgba(255,165,0, 0.5);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  }

img#border {
  border-style: solid;
  border-color: rgba(255,255,255,0.9);
  border-width: 2px;
  max-width: 90%;
  }
  
iframe {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  max-width: 100%;
  max-height: auto;
  }
  
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

@media (min-width: 800px) 
{   
    div[class*="col"] {
      padding-left: 5px;
      padding-right: 5px;
      }
    .container {
      padding-left: 5px; 
      padding-right: 5px;
      }
    .row {
    margin-left: 0;
    margin-right: 0;
    }
}

@media (max-width: 768px) {
  div[class*="col"] {
    padding-left: 2px;
    padding-right: 2px;
    }
  .container {
    padding-left: 2px;
    padding-right: 2px;
    }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .profile {
    margin-bottom: 4px;
    }
  .navbar-brand, .navbar-nav > li >a {
    line-height: 30px;
    padding: 8px 10px;
    font-size: 28px;
  }
  .navbar-toggle {
    margin: 10px;
    padding: 10px;
  }
  .navbar-default .navbar-nav > li:nth-child(4) {
    background-color: black;
  }
  h2 {
    font-size: 40px;
  }
}

@font-face {
    font-family: 'flat-earth-scribe';
    src: url('/fonts/flat-earth-scribe.ttf');
    font-weight: normal;
    font-style: normal;

}
