#title-image {
  width: 100%;
  height: auto;
  padding-right: 0;
  }
  
.navbar {
  margin-bottom: 0;
  padding-right: 0;
  border-radius: 0;
  }

.navbar-default {
  background-color: black;
  }

.navbar-brand, .navbar-nav > li >a {
  line-height: 40px;
  padding: 10px 15px;
  font-family: 'flat-earth-scribe';
  font-size: 1.5em;
}
.navbar-toggle {
    margin: 20px;
    padding: 20px;
}

.navbar-default, .navbar-toggle.collapsed:hover {
  background-color: rgb(255, 220, 127);
}

.navbar-default, .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #000000;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: rgb(231, 228, 235);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: rgb(255, 220, 127);
}

.navbar-default .navbar-nav > li:nth-child(4) {
    background-color: rgb(237, 150, 42);
}

#title {
  padding-left: 0;
  width: 100%;
  padding-right: 0;
}

.row.wrap {
  padding-top: 10px;
  width: 90%;
  margin: auto;
  }

.container-fluid.background {
  background: url('/images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 20px;
  }

.paper {
  background: url('/images/paper-background-bright.png') no-repeat;
  background-size: 100% 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.paper-bottom {
  background: url('/images/paper-bottom-bright.png') no-repeat;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
  margin-top: -130px;
}
  
.text-panel {
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  }

p {
  font-family: 'Averia Serif Libre', cursive;
  padding: 5px 45px 15px 45px;
  font-size: 1.30em;
  line-height: 185%;
  font-weight: 400;
  }

.wrapper {
  position: relative;
  }

.profile {
  max-width: 100%;
  max-height: 250px;
  margin: auto;
  -webkit-clip-path: ellipse(43% 47% at 50% 50%);
}
  
.clip-border {
  -webkit-clip-path: ellipse(44% 48% at 50% 50%);
  background: #000000;
  max-height: 250px;
  max-width: 167px;
  margin: auto;
}

.wrapper:hover .clip-border {
  background: white;
}

.text-box {
  background: rgb(237, 150, 42);
  display: none;
  z-index: 999;
  position: absolute;
  border-color: rgb(255, 220, 127);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}

.text-box p, a {
  color: white;
  padding: 2px;
  font-size: 1em;
  line-height: 110%;
}

.review p {
  margin-left: 25px;
  margin-right: 15px;
}

#spacing {
  padding-bottom: 50px;
  margin-bottom: 100px;
}
  
h2 {
  font-family: 'flat-earth-scribe';
  font-size: 4.8em;
  color: rgb(55, 54, 50);
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

h3 {
  font-family: 'flat-earth-scribe';
  font-size: 2.2em;
  text-align: center;
}

h5 {
  font-family: 'Averia Serif Libre', cursive;
  padding: 5px 45px 15px 45px;
  font-size: 1.80em;
  line-height: 185%;
  font-weight: 700;
  }

.border {
  border-style: solid;
  border-color: rgb(255,255,255);
  border-color: rgba(255,255,255,0.9);
  border-width: 2px;
  max-width: 90%;
  }
  
iframe {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  max-width: 100%;
  max-height: auto;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

@media (min-width: 800px) 
{   
    div[class*="col"] {
      padding-left: 5px;
      padding-right: 5px;
      }
    .container {
      padding-left: 5px; 
      padding-right: 5px;
      }
    .row {
    margin-left: 0;
    margin-right: 0;
    }
}

@media (max-width: 768px) {
  div[class*="col"] {
    padding-left: 2px;
    padding-right: 2px;
    }
  .container {
    padding-left: 2px;
    padding-right: 2px;
    }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .profile {
    margin-bottom: 4px;
    }
  .navbar-brand, .navbar-nav > li >a {
    line-height: 30px;
    padding: 6px 10px;
    font-size: 28px;
  }
  .navbar-toggle {
    margin: 10px;
    padding: 10px;
  }
  .navbar-default .navbar-nav > li:nth-child(4) {
    background-color: black;
  }
  h2 {
    font-size: 40px;
  }
  .paper-bottom {
    margin-top: -140px;
  }
}

@font-face {
    font-family: 'flat-earth-scribe';
    src: url('/fonts/flat-earth-scribe.ttf');
    font-weight: normal;
    font-style: normal;

}
